<div class="app-container">
  <!-- Left Sidebar -->
  <div class="left-sidebar">
    <div>
      <app-text></app-text>
      <app-qr></app-qr>
      <app-circle></app-circle>
    </div>
    <app-save></app-save>
  </div>

  <!-- Editor -->
  <div class="editor-container">
    <div class="editor-area">
      <canvas id="myCanvas" width="800" height="600"></canvas>
    </div>
  </div>

  <!-- Right Sidebar (Properties Panel) -->
  <div class="right-sidebar">
    <app-properties-panel></app-properties-panel>
  </div>
</div>
